/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Styles for maximum temperature (as if it's on fire) */
@keyframes flames {
  0% { color: rgba(255, 0, 0, 0.1); }
  50% { color: rgba(255, 0, 0, 1); }
  100% { color: rgba(255, 0, 0, 0.1); }
}

.on-fire {
  animation: flames 1s infinite;
}

/* Styles for minimum temperature (as if it's frozen) */
@keyframes frozen {
  0% { color: rgba(0, 0, 255, 0.1); }
  50% { color: rgba(0, 0, 255, 1); }
  100% { color: rgba(0, 0, 255, 0.1); }
}

.frozen {
  animation: frozen 1s infinite;
}

/* Styles for maximum humidity (as if it's soaked) */
@keyframes soaked {
  0% { color: rgba(0, 0, 255, 0.1); }
  50% { color: rgba(0, 0, 255, 1); }
  100% { color: rgba(0, 0, 255, 0.1); }
}

.soaked {
  animation: soaked 1s infinite;
}

/* Styles for minimum humidity (as if it's dry) */
@keyframes dry {
  0% { color: rgba(255, 165, 0, 0.1); }
  50% { color: rgba(255, 165, 0, 1); }
  100% { color: rgba(255, 165, 0, 0.1); }
}

.dry {
  animation: dry 1s infinite;
}

/* Styles for maximum luminosity (as if it's shining) */
@keyframes shining {
  0% { color: rgba(255, 255, 0, 0.1); }
  50% { color: rgba(255, 255, 0, 1); }
  100% { color: rgba(255, 255, 0, 0.1); }
}

.shining {
  animation: shining 1s infinite;
}

/* Styles for minimum luminosity (as if it's dimmed) */
@keyframes dimmed {
  0% { color: rgba(128, 128, 128, 0.1); }
  50% { color: rgba(128, 128, 128, 1); }
  100% { color: rgba(128, 128, 128, 0.1); }
}

.dimmed {
  animation: dimmed 1s infinite;
}
